:root{
    --couleur1hex: #F18F01;
    --couleur2hex: #048BA8;
    --couleur3hex: #2E4057;
    --couleur4hex: #99C24D;
    --couleur5hex: #2F2D2E;

    --couleur1rgb: 241, 143, 1;
    --couleur2rgb: 4, 139, 168;
    --couleur3rgb: 46, 64, 87;
    --couleur4rgb: 153, 194, 77;
    --couleur5rgb: 47, 45, 46;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightgray;
}

.logo{
    width: auto;
    height: 90px;
    display: flex;
    margin-left: 10px;
}


fieldset{
    border-radius: 10px;
    margin-bottom: 5px;
}

.fmain{
    border-radius: 10px;
    background: linear-gradient(to right, rgba(var(--couleur5rgb),1), rgba(var(--couleur3rgb), 1));
}

form{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
}

#env{ 
    margin: auto;
    display: block;
    font-size: medium;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--couleur1hex);
    cursor: pointer;
}

input{
    width: 90%;
}

legend{
    font-size: 20px;
    color: white;
}

.parent-message{
    display: inline-block;
    background: rgba(255, 0, 0, 0.7);
    color: white;
    position: fixed;
    top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.error-message{
    text-align: center;
}

.parent-user{
    display: inline-block;
    background: rgba(0, 255, 0, 0.7);
    color: white;
    position: fixed;
    top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-message{
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .logo{
        width: auto;
        height: 90px;
        display: flex;
        margin-left: 10px;
    }
    
    
    fieldset{
        border-radius: 10px;
        margin-bottom: 5px;
    }
    
    .fmain{
        border-radius: 10px;
        background: linear-gradient(to right, rgba(var(--couleur5rgb),1), rgba(var(--couleur3rgb), 1));
    }
    
    form{
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }
    
    p{
        color: white;
    }
    
    #env{ 
        margin: auto;
        display: block;
        font-size: medium;
        font-weight: bold;
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--couleur1hex);
        cursor: pointer;
    }
    #env:hover{
        color: white;
        background: var(--couleur2hex);
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
    }
    
    input{
        width: 90%;
    }
    
    legend{
        font-size: 20px;
        color: white;
    }

    .parent-message{
        display: inline-block;
        background: rgba(255, 0, 0, 0.7);
        color: white;
        position: fixed;
        top:auto;
        bottom: 10px;
        left: 10px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .error-message{
        text-align: center;
    }

    .parent-user{
        display: inline-block;
        background: rgba(0, 255, 0, 0.7);
        color: white;
        position: fixed;
        top:auto;
        bottom: 10px;
        left: 10px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .user-message{
        text-align: center;
    }
}